body {
    background-color: #BDE0FE;
    padding: 100px 100px 0px 100px;
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    /* margin: 25px; */
}

img {
    border-radius: 15px;
    width: 500px;
    height: auto;
}

.text {
    background-color: #A2D2FF;
    padding: 10px 25px;
    margin: 25px 0px;
    border-radius: 15px;
}

h1 {
    text-align: center;
}